* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Gloabl styles */

html {
  scroll-behavior: smooth;
}

body {
  color: #000000;
  font-family: Signika, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Signika', sans-serif;
  margin-bottom: 1rem;
}

/* Section */

section {
  font-size: 1.3rem;
  line-height: 1.3;
  padding: 3% 9%; 
}

/* Navigation Bar */

.navbar-nav {
  margin: 0 auto;
}

#navbarNav {
  color: #ffd05a;
}

.nav-link {
  font-size: 1.3rem;
  text-align: center;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff !important;
}


/* Containers */

.container-fluid {
  margin: 1rem;
  padding: 0 1rem;
}

/* Main section */
.pageMain {
  background-color: #55c0ec;
  padding: 3rem;
}

.mainDescription h1 {
  columns: #000000;
  ;
  font-size: 5rem;
  line-height: 1;
  margin: 1rem;
  text-align: center;
}

.mainText {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 2rem;
  text-align: center;
}

#mainText a {
  margin: 0 auto;
}

.mainButton {
  padding: 3% 7%;
}

.button-img {
  margin: 2px;
}

/* Page Titles */

.pageTitle {
  font-size: 2.1rem;
  text-align: center;
  line-height: 1.25;
  margin-bottom: 0rem;
  
}

hr {
  color: #55c0ec;
  background-color: #55c0ec;
  height: 3px;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 150px;
}

/* About Section */

/* Features Section */

/* Call to Action Section */

/* Footer section */